@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
    --font-plus-jakarta-san: 'Plus Jakarta Sans', sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta-san)
}


/*Global Styles for components of library */

/*Style for paginator of table*/
.MuiTablePagination-input{
  @apply text-[#274967] flex justify-between
}

.MuiTablePagination-selectIcon,p{
  @apply text-[#274967] flex justify-between gap-10
}

