@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
    --font-plus-jakarta-san: 'Plus Jakarta Sans', sans-serif;
  }
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./PlusJakartaSans-VariableFont_wght.ttf') format('truetype'); /* Ajusta la ruta aquí */
  font-weight: 400; /* Ajusta según el peso que estés usando */
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Plus Jakarta Sans',
}


/*Global Styles for components of library */

/*Style for paginator of table*/
.MuiTablePagination-input{
  @apply text-[#274967] flex justify-between
}

.MuiTablePagination-selectIcon,p{
  @apply text-[#274967] flex justify-between gap-10
}

